@inherits YJC.Toolkit.Razor.ToolkitTemplatePage<TModel>
@using System.Data;
@using System.Collections.Generic;
@using System.Linq;
@using Microsoft.AspNetCore.Html;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@section ModuleButtons {
    <div style="text-align:center">
        <el-button type="primary"
                   size="medium"
                   icon="el-icon-edit"
                   plain
                   @@click="edit()">修改节点</el-button>
        <el-button type="danger"
                   size="medium"
                   icon="el-icon-delete"
                   plain
                   @@click="del()">删除节点</el-button>
        <el-button type="primary"
                   size="medium"
                   icon="el-icon-plus"
                   plain
                   @@click="addChildNode()">新建子节点</el-button>
    </div>
}

@RenderSectionIfDefined("Main", "@../Detail/template.cshtml", Model)