@inherits YJC.Toolkit.Razor.ToolkitTemplatePage<TModel>
@using System.Data;
@using System.Collections.Generic;
@using System.Linq;
@using Microsoft.AspNetCore.Html;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@section ModuleButtons {
    <div style="text-align:center">
        <el-button type="primary"
                   size="medium"
                   plain
                   @@click="confirm">保存</el-button>
        <el-button type="info"
                   size="medium"
                   plain
                   @@click="cancel">取消</el-button>
    </div>
}

@RenderSectionIfDefined("Main", "@../Edit/template.cshtml", Model)