@inherits YJC.Toolkit.Razor.ToolkitTemplatePage<TModel>
@using System.Data;
@using System.Collections.Generic;
@using System.Linq;
@using Microsoft.AspNetCore.Html;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    Dictionary<string, string> queryString = Model.QueryString;
}
<template>
    <div ref="current"
         class="tree-container"
         url="@Raw(ObjectExtension.AppVirutalPath(Model.ListUrl))">
        <el-card class="tree-main">
            <el-tree ref="tree"
                     class="el-tree_hadbottom"
                     lazy
                     highlight-current
                     :key="treeKey"
                     :data="treeData"
                     node-key="id"
                     :props="props"
                     :load="loadNode"
                     :default-expanded-keys="defaultExpandedKeys"
                     :filter-node-method="filterNode"
                     :allow-drop="dropoSameLevel"
                     :current-node-key="InitValue"
                     :expand-on-click-node="false"
                     @@current-change="treeCurrentChange">
                <template #default="{node,data}">
                    <span :class="`el-tree-node__label el-icon-${node.isLeaf?'document':(node.expanded?'folder-opened':'folder')}`">{{data[props.label]}}</span>
                </template>
            </el-tree>
            <div class="tree-main_bottom">
                <el-button-group>
                    <el-button type="primary"
                               size="mini"
                               icon="el-icon-arrow-up"
                               @@click="treeNodeMove('Up')">上移</el-button>
                    <el-button type="primary"
                               size="mini"
                               icon="el-icon-arrow-down"
                               @@click="treeNodeMove('Down')">下移</el-button>
                    <el-button type="primary"
                               size="mini"
                               icon="el-icon-plus"
                               @@click="addRootNode">新建根节点</el-button>
                </el-button-group>
            </div>
        </el-card>
        <div class="tree-detail">
            <router-view @@cancel="nodeCancel"
                         @@confirm="nodeConfirm"
                         @@deleted="nodeDeleted"
                         @@append-child="appendChildNode" />
        </div>
    </div>
</template>

<script>
    import treeMixin from 'common/mixins/tree'
    export default {
        mixins: [treeMixin],
        data() {
            return {
                idName: '@Model.IdField',
                parentIdName: '@Model.ParentIdField',
                rootId: '@Model.RootId',
                newNodeName: '新节点'
            }
        }
    }
</script>
<style lang="scss" scoped>
    @@import 'common/css/tree.scss';
</style>