// 详情页面
.mq-detail-page {

  // 内容区域
  .section-content {

    // 行
    .row-wrapper {

      // 列
      .col-wrapper {

        // 标题
        .title {
          background: #fbfbfb;
          padding: 0 5px;
          width: 120px;
          margin-right: 5px;
          line-height: 40px;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        // 内容
        .content {
          color: #999;
          line-height: 40px;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: calc(100% - 120px - 15px);
        }

        // 文本
        .text {}

        // 图片（或根据<img>标签）
        .img {}

        // 链接（或根据<a>标签）
        .link {}
      }
    }
  }

  // 按钮区域
  .section-button {
    clear: both;
    margin-top: 20px;
    text-align: center;
  }
}
