// bug fixed:elementui中table组件表头和内容不对齐的问题 see：https://www.cnblogs.com/reround/p/11981909.html
.el-table th.gutter {
  display: table-cell !important;
}

// 列表样式
.mq-list-page {

  // 条件
  .section-condition {
    // background-color: lightgray;

    // 字段
    .fields-wrapper {
      width: 100%;
      margin-top: 5px;

      .field-item {
        margin-bottom: 5px;
      }
    }

    // 按钮
    .buttons-wrapper {
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
    }
  }

  // 全局操作
  .section-global-button {
    border: 1px solid #EBEEF5;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;

    .button-item {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }

  // 数据
  .section-datatable {

    .button-item {
      float: left;
      margin-right: 5px;
    }

  }

  // 翻页
  .section-pagination {
    margin-top: 20px;
    text-align: center;
    clear: both;
  }

}
