.el-button {
  line-height: 13px;
}

// 编辑页面
.mq-multi-edit-page {

  // 内容区域
  .section-content {
    overflow: auto;
    min-width: 400px;
    min-height: 300px;

    .collapse-wrapper {
      .collapse-item-wrapper{
        .collapse-item-title{

        }
        .one-row-wrapper{
          // 行
          .row-wrapper {

            // 列
            .col-wrapper {

              // 标题
              .title {
                background: #fbfbfb;
                padding: 0 5px;
                width: 120px;
                margin-right: 5px;
                line-height: 40px;
                display: inline-block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }

              // 内容
              .content {
                color: #999;
                line-height: 40px;
                display: inline-block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: calc(100% - 120px - 15px);
              }

            }
          }
        }
        .multi-row-wrapper{
          .table{

          }
          .buttons-wrapper{
            border: 1px solid #EBEEF5;
            margin-top: 5px;
            margin-bottom: 5px;

            .btn-group {

              .button-item {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 10px;
              }
            }
            .ui-new-row{

              .input-item{
                display: inline;

                width: 50px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 10px;
              }

              .button-item {
                margin-top: 10px;
                margin-right: 10px;
                float: right;
              }
            }
          }

        }
      }
    }

  }

  // 按钮区域
  .section-button {
    clear: both;
    margin-top: 20px;
    text-align: center;
  }
}
