@inherits YJC.Toolkit.Razor.TemplatePage<TModel>
@using System.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Data;
@{
    INormalMetaData metaData = ViewBag.MetaData;
    IEnumerable<IFieldInfoEx> fields = metaData.TableData.DataList;
    List<List<IFieldInfoEx>> list = new List<List<IFieldInfoEx>>();
    int index = 0;
    List<IFieldInfoEx> subList = null;
    foreach (var field in fields)
    {
        if (index % 2 == 0)
        {
            subList = new List<IFieldInfoEx>();
            list.Add(subList);
        }
        subList.Add(field);
        ++index;
    }
}
<section>
    <el-form label-position='left' label-width='80px'>
        @foreach (var subItemList in list)
        {
            <el-row gutter='20'>
                @foreach (var field in subItemList)
                {
                    var modelName = "model." + field.NickName;
                    <tk-label caption='@field.DisplayName' v-model='@modelName' span='12'> </tk-label>
                }
            </el-row>
        }
    </el-form>
</section>