@inherits YJC.Toolkit.Razor.TemplatePage<TModel>
@using System.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Data;
@{
    //NormalListData pageData = (NormalListData)ViewBag.PageData;
    IListMetaData metaData = ViewBag.MetaData;
    IEnumerable<IFieldInfoEx> fields = metaData.TableData.DataList;
}
<section>
    <section>
        <tk-form :model='queryForm'>
            <tk-input v-model='queryForm.userName' size='mini' lable='用户名' :span='12'></tk-input>
            <tk-button class='m-l-md' size='mini' type='primary' @@click='handleQueryTable'>查询</tk-button>
        </tk-form>
    </section>
    <section class="flexRow">
        <section class="listOpreatorBox" v-if="resData.ListOperator && resData.ListOperator.length > 0">
            <section v-tk-render="resData.ListOperator[0].Content"></section>
        </section>
    </section>
    <section>
        <tk-table :data='model' border height='400px'
                  @@sort-change='handleSortChange'
                  :default-sort='{prop: "", order: ""}'>
            <tk-table-column type='index' label='序号' width='50'>
            </tk-table-column>
            @foreach (var field in fields)
            {
                <tk-table-column prop='@field.NickName' label='@Raw(field.DisplayName)'>
                </tk-table-column>
            }
            <tk-table-column label='操作' align='center'>
                <template slot-scope='scope'>
                    <div v-tk-render="scope.row._OPERATOR_RIGHT">
                    </div>
                </template>
            </tk-table-column>
        </tk-table>
        <tk-pagination class='m-t-md'
                       :total='page.total'
                       :pagecount='page.pageCount'
                       :currentpage='page.currentPage'
                       background
                       @@prevclick='handleCurrentChange'
                       @@nextclick='handleCurrentChange'
                       @@sizechange='handleSizeChange'
                       @@currentchange='handleCurrentChange'>
        </tk-pagination>
    </section>
</section>