@inherits YJC.Toolkit.Razor.TemplatePage<TModel>
@using System.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Data;
<tr>
    <td>操作</td>
    <td>Name</td>
    <td>Desc</td>
</tr>