@inherits YJC.Toolkit.Razor.NormalMultiEditTemplate
@using System.Data;
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Sys;
@{ 
    DataRow row = Model.Row;
    short charactor = ObjectExtension.Value<short>(row["Character"]);
    string ctrl = row["Control"].ToString();
    DataTable table = row.Table.DataSet.Tables["CD_TK_CONTROL"];
    bool readOnly = charactor == 2 || charactor == 3 || charactor == 4;
    Dictionary<string, string> totalData = new Dictionary<string, string>();
    List<Tuple<string, string>> normalData = new List<Tuple<string, string>>();
    foreach (DataRow codeRow in table.Rows)
    {
        string value = codeRow["Value"].ToString();
        string name = codeRow["Name"].ToString();
        if (codeRow["Del"].Value<int>() == 0)
            normalData.Add(Tuple.Create(value, name));
        totalData.Add(value, name);
    }
}
<td>
    <div class="form-group mb1">
        <span class="tk-control">
            @if (readOnly)
            {
                <input type="Text" value="@ObjectUtil.TryGetValue(totalData, ctrl)" class="form-control" disabled/>
                <select name="Control" class="hide">
                    <option value="@ctrl" selected></option>
                </select>
            }
            else
            {
                <select name="Control" class="form-control" data-title="控件">
                    @foreach (Tuple<string, string> item in normalData) 
                    {
                        @{
                             string selected = item.Item1 == ctrl ? "selected" : string.Empty;
                         }
                        <option value="@item.Item1" @selected>@item.Item2</option>
                    }
                </select>
            }
            <label class="help-block"></label>
        </span>
    </div>
</td>
