@inherits YJC.Toolkit.Razor.NormalMultiEditTemplate
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Sys;
@{ 
    short charactor = ObjectExtension.Value<short>(Model.Row["Character"]);
    string disableString = string.Empty;
    if (charactor == 2 || charactor == 3)
    {
        disableString = "disabled";
    }
}
<td>
    <div class="form-group mb1">
        <span class="tk-control">
            <input type="Text" value="@Model.Row["DisplayName"]" placeholder="字段名" name="DisplayName" class="form-control" data-title="字段名" @disableString/>
            <label class="help-block"></label>
        </span>
    </div>
</td>
