@inherits YJC.Toolkit.Razor.MultiEditTemplatePage<TModel>
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.Web;
@using System.Linq;
@using System.Collections.Generic;
@using System.Data;
@section OtherNewButton {
    <button class="btn btn-info btn-xs" id="newEmpty" title="新建空操作">空操作</button>
    <button class="btn btn-info btn-xs" id="newStd" title="新建标准操作">标准操作</button>
    <button class="btn btn-info btn-xs" id="newTreeStd" title="新建标准树操作">标准树操作</button>
}