/* css reset */
/*body { margin:0; padding:0; font-size:12px; font-family:Arial,"宋体"; }*/
form,div,p,span,i,ul,ol,li,dl,dt,dd,fieldset,legend { margin:0; padding:0; }
/*h1,h2,h3,h4,h5,h6 { margin:0; padding:0; font-size:12px; font-weight:normal; }*/
/*table,td,input,select,textarea { font-size:12px; }*/
li { list-style:none; }
img { vertical-align:middle; }
a img { border:none; }
header,section,nav,article,aside,footer,hgroup { display:block; }
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .f** : font-size */
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f24 { font-size:24px; }
.f30 { font-size:30px; }
.fb,.bold { font-weight:bold; }
.fi,.italic { font-style:italic; }

/* ti** : text-indent */
.ti0 { text-indent:0; }
.tih { text-indent:.5em; }
.ti1 { text-indent:1em; }
.ti2 { text-indent:2em; }
.tiu { text-indent:-10000em; }

/* .c* : color */ 
.c0,a.c0 { color:#000; }
.c3,a.c3 { color:#333; }
.c6,a.c6 { color:#666; }
.c9,a.c9 { color:#999; }
.cc,a.cc { color:#ccc; }
.cd,a.cd { color:#ddd; }
.ce,a.ce { color:#eee; }
.cf,a.cf { color:#fff; }
.gray,a.gray { color:#999; }
.orange,a.orange { color:#f90; } /* color-orange */
.red,a.red { color:#f00; } /* color-red */
.green,a.green { color:#0f0; } /* color-green */
.blue,a.blue { color:#00f; } /* color-blue */

/* .p** : padding */
.p1,.pd1  { padding:1px; }
.p3,.pd3  { padding:3px; }
.p5,.pd5  { padding:5px; }
.p8,.pd8  { padding:8px; }
.p10,.pd10 { padding:10px; }
.p15,.pd15 { padding:15px; }
.p20,.pd20 { padding:20px; }
.p30,.pd30 { padding:30px; }
.p1_0,.pd1_0,.pv1 { padding:1px 0; }
.p5_0,.pd5_0,.pv5  { padding:5px 0; }
.p10_0,.pd10_0,.pv10 { padding:10px 0; }
.p0_5,.pd0_5,.ph5  { padding:0 5px; }
.p0_10,.pd0_10,.ph10 { padding:0 10px; }
.p0_15,.pd0_15,.ph15 { padding:0 15px; }
.pt5  { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pr5  { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pb5  { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pl5  { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.ph1 { padding-left: 1px; padding-right: 1px; }
.ph3 { padding-left: 3px; padding-right: 3px; }

/* .m** : margin */
.ma,.mha { margin-left:auto;  margin-right:auto; }
.m1,.mg1  { margin:1px; }
.m5,.mg5  { margin:5px; }
.m10,.mg10 { margin:10px; }
.m15,.mg15 { margin:15px; }
.m20,.mg20 { margin:20px; }
.m30,.mg30 { margin:30px; }
.m1_0,.mg1_0,.mv1  { margin:1px 0; }
.m5_0,.mg5_0,.mv5  { margin:5px 0; }
.m10_0,.mg10_0,.mv10 { margin:10px 0; }
.m0_5,.mg0_5,.mh5 { margin:0 5px; }
.m0_10,.mg0_10,.mh10 { margin:0 10px; }
.m0_15,.mg0_15,.mh15 { margin:0 15px; }
.mt5  { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mr5  { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
.mb1  { margin-bottom:1px; }
.mb5  { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb50 { margin-bottom:50px; }
.ml5  { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }

/* text-align、float */
.tdnowarp{white-space:nowrap;}
.tl,.tal,.left { text-align:left !important; }
.tc,.tac,.center { text-align:center !important; }
.tr,.tar,.right { text-align:right !important; }
.tj,.taj,.justify { text-align:justify !important; }
.l,.fl { float:left !important; }
.r,.fr { float:right !important; }
.fn { float:none !important; }
.cl { clear:left !important; }
.cr { clear:right !important; }
.clear { clear:both; font-size:0; visibility:hidden; line-height:0; height:0; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { zoom:1; *height:1%; }

/* position */
.pr,.relative { position:relative; }
.pa,.absolute { position:absolute; }
.ps,.static { position:static; }
.pf,.fixed { position:fixed; _position:absolute; }
.t0  { top:0; }
.t5  { top:5px; }
.t10 { top:10px; }
.t20 { top:20px; }
.r0  { right:0; }
.r5  { right:5px; }
.r10 { right:10px; }
.r20 { right:20px; }
.b0  { bottom:0; }
.b5  { bottom:5px; }
.b10 { bottom:10px; }
.b20 { bottom:20px; }
.l0  { left:0; }
.l5  { left:5px; }
.l10 { left:10px; }
.l20 { left:20px; }
.fullscreen { top:0; right:0; bottom:0; left:0; }
.fullscreen5 { top:5px; right:5px; bottom:5px; left:5px; }
.fullscreen10 { top:10px; right:10px; bottom:10px; left:10px; }
.top0  { top:0; }
.top5  { top:5px; }
.top10 { top:10px; }
.right0  { right:0; }
.right5  { right:5px; }
.right10 { right:10px; }
.bottom0  { bottom:0; }
.bottom5  { bottom:5px; }
.bottom10 { bottom:10px; }
.left0  { left:0; }
.left5  { left:5px; }
.left10 { left:10px; }

/* display */
.dn,.hidden { display:none; }
.db { display:block; }
.dt { display:table; }
.di { display:inline; }
.dib { display:inline-block; }
.oa { overflow:auto; }
.oh { overflow:hidden; }

/* w*** : width */
.w10  { width:10px; }
.w20  { width:20px; }
.w30  { width:30px; }
.w40  { width:40px; }
.w50  { width:50px; }
.w60  { width:60px; }
.w80  { width:80px; }
.w100 { width:100px; }
.w110 { width:110px; }
.w120 { width:120px; }
.w150 { width:150px; }
.w200 { width:200px; }
.w240 { width:240px; }
.w250 { width:250px; }
.w300 { width:300px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w20p { width:20%; }
.w25p { width:25%; }
.w33p { width:33.33%; }
.w40p { width:40%; }
.w50p { width:50%; }
.w60p { width:60%; }
.w66p { width:66.66%; }
.w75p { width:75%; }
.w80p { width:80%; }
.w90p { width:90%; }
.w95p { width:95%; }
.w100p { width:100%; }

/* h***: height */
.h10  { height:10px; }
.h20  { height:20px; }
.h25  { height:25px; }
.h30  { height:30px; }
.h40  { height:40px; }
.h50  { height:50px; }
.h60  { height:60px; }
.h80  { height:80px; }
.h100 { height:100px; }
.h150 { height:150px; }
.h200 { height:200px; }
.h300 { height:300px; }
.h400 { height:400px; }
.h500 { height:500px; }
.h20p { height:20%; }
.h25p { height:25%; }
.h33p { height:33.33%; }
.h40p { height:40%; }
.h50p { height:50%; }
.h60p { height:60%; }
.h66p { height:66.66%; }
.h75p { height:75%; }
.h80p { height:80%; }
.h90p { height:90%; }
.h95p { height:95%; }
.h100p { height:100%; }

/* lh***: line-height */
.lh15  { line-height:15px; }
.lh16  { line-height:16px; }
.lh18  { line-height:18px; }
.lh20  { line-height:20px; }
.lh24  { line-height:24px; }
.lh30  { line-height:30px; }
.lh12p { line-height:120%; }
.lh13p { line-height:130%; }
.lh15p { line-height:150%; }
.lh17p { line-height:170%; }
.lh20p { line-height:200%; }
.lh2em { line-height:2em; }

/* .b**, .b*d* : border */
.bdc { border: solid 1px #ccc }
.btc { border-top: solid 1px #ccc; }
.brc { border-right: solid 1px #ccc; }
.bbc { border-bottom: solid 1px #ccc; }
.blc { border-left: solid 1px #ccc; }
.bddc { border: dotted 1px #ccc; }
.btdc { border-top: dotted 1px #ccc; }
.brdc { border-right: dotted 1px #ccc; }
.bbdc { border-bottom: dotted 1px #ccc; }
.bldc { border-left: dotted 1px #ccc; }

/* .r** : radius */
.rad1 { border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; -khtml-border-radius:1px; }
.rad2 { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; }
.rad3 { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; }
.rad4 { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; }
.rad5 { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; }
.rad8 { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; }
.rad12 { border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; -khtml-border-radius:12px; }

/* .bg** : background-color */
.bg0 { background-color:#000; }
.bg3 { background-color:#333; }
.bg6 { background-color:#666; }
.bg9 { background-color:#999; }
.bgc { background-color:#ccc; }
.bgd { background-color:#ddd; }
.bge { background-color:#eee; }
.bgf { background-color:#fff; }
.bgc6 { background-color:#c6c6c6; }
.bgd5 { background-color:#d5d5d5; }
.bge4 { background-color:#e4e4e4; }
.bgf0 { background-color:#f0f0f0; }
.bgf7 { background-color:#f7f7f7; }
.bgfa { background-color:#fafafa; }
.bgffc { background-color:#ffc; }
.bgffd { background-color:#ffd; }
.bgffe { background-color:#ffe; }

/* img size */
.face  { display:inline-block; padding:2px; border:solid 1px #f5f5f5; border-color:#f5f5f5 #e6e7e1 #e6e7e1 #f5f5f5; background-color:#fff; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; }
.face1 { width:16px; height:16px; }
.face2 { width:32px; height:32px; }
.face3 { width:48px; height:48px; }
.face4 { width:80px; height:80px; }

/* .op** : opacity */
.op0 { filter:alpha(opacity=0); -moz-opacity:0; opacity:0; }
.op1 { filter:alpha(opacity=10);-moz-opacity:0.1;opacity:0.1; }
.op2 { filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2; }
.op3 { filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3; }
.op4 { filter:alpha(opacity=30);-moz-opacity:0.4;opacity:0.4; }
.op5 { filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5; }
.op6 { filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6; }
.op7 { filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7; }
.op8 { filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8; }
.op9 { filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9; }
.op10 { filter:alpha(opacity=100); -moz-opacity:1; opacity:1; }

/* .c** : cursor */
.cp,.pointer { cursor:pointer; }
.cm,.move { cursor:move; }

/* others */
.sep { color:#999; font-family:Arial; margin:0 5px; }
.sep10 { color:#999; font-family:Arial; margin:0 10px; }
.ul,.uline,.underline,a.ul,a.ul:hover,a.uline,a.uline:hover,a.underline,a.underline:hover { text-decoration:underline; }
.noul,a.noul,a.noul:hover,.nouline,a.nouline,a.nouline:hover { text-decoration:none; }
.noime { ime-mode:disabled; }
.nowrap { white-space:nowrap; }
.wrap,.wordwrap { word-break:break-all; word-wrap:break-word; overflow:hidden; }
.short,.ellipsis li { display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.floatdiv { position:absolute; top:-1000px; left:-1000px; display:none; }
.disabled { filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; }
.template { display:none; }
.loading { height:100px; background:#fff url(images/indicator_medium.gif) no-repeat center center; }

/* form element */
/*input[type=text], input[type=password] { height:18px; line-height:18px; border:solid 1px #ccc; padding:0; margin:0; background:transparent; }
input[type=radio], input[type=checkbox] { width:14px; height:14px; padding:0; margin:3px; display:block; float:left; }
.tac input[type=radio], .tac input[type=checkbox] { display:inline; float:none; }
input[type=submit], input[type=button] {}
input.hint { color:#ccc; }
textarea { line-height:18px; border:solid 1px #ccc; padding:0; margin:0; }
select { height:20px; line-height:20px; padding:0; margin:0; }
select option { line-height:20px; }*/

/* btn */
a.btn { height:22px; line-height:22px; display:inline-block; padding:0 10px; margin-right:5px; text-decoration:none; background:url(images/bg.png) repeat-x 0 -162px; cursor:pointer; }
a.btn em { font-style:normal; cursor:pointer; }
a.btn-submit { border:solid 1px #999; background-position:0 -58px; font-weight:bold; }
a.btn-action { border:solid 1px #999; background-position:0 -162px; font-weight:bold; }
a.btn-common, a.btn-cancel { border:solid 1px #999; background-position:0 -288px; color:#666;  }
a.btn-mini { border:solid 1px #999; background-position:0 -288px; padding:0 5px; height:18px; line-height:18px; }
a.btn-link { background:none; text-decoration:underline; }

/* i**- : icon */
.i16 { background:url(images/icon.png) no-repeat; width:16px; height:16px; overflow:hidden; line-height:16px; display:block; }
.i16-edit { background-position:-48px -16px; }
.i16-search { background-position:-96px -80px; }
.i16-advsearch { background-position:-112px -80px; }
.i16-lookup { background-position:-128px -80px; }
.i16-calendar { background-position:-96px -128px; }
.i16-folder { background-position:-144px -96px; }
.i16-dot { background-position:-80px -144px; }
.i16-dropdown { background-position:-32px -160px; }
.i16-nextpage { background-position:-48px -144px; }
.i16-prevpage { background-position:0 -144px; }
.i16-firstpage { background-position:-32px -144px; }
.i16-lastpage { background-position:-16px -144px; }
.i16-infomation { background-position:-16px -32px; }
.i16-question { background-position:-32px -32px; }
.i16-success { background-position:-112px -32px; }
.i16-error { background-position:-48px -32px; }
.i16-alert { background-position:-144px -32px; }
.i16-delete { background-position:-128px -144px; }
.i16-close { background-position:-144px -144px; }
/* i24 */
.i24 { background:url(images/icon24.png) no-repeat; width:24px; height:24px; overflow:hidden; line-height:24px; display:block; }
/* i32 */
.i32 {}

/* ico */
input.ico-datepicker { background:url(images/bg_icon.png) no-repeat right -1px; }
.ico-next { background:url(images/bg_icon.png) no-repeat 0 -180px; }
.ico-prev { background:url(images/bg_icon.png) no-repeat 0 -200px; }
/* ico-l-**** */
.ico-l-required { background:url(images/bg_icon.png) no-repeat -10px -258px; padding-left:15px; }
.ico-l-excel { background:url(images/bg_icon.png) no-repeat 0 -63px; padding-left:20px; }
.ico-l-new { background:url(images/bg_icon.png) no-repeat 0 -43px; padding-left:20px; }
.ico-l-file { background:url(images/bg_icon.png) no-repeat 0 -23px; padding-left:20px; }
.ico-l-delete { background:url(images/bg_icon.png) no-repeat 0 -163px; padding-left:18px; }
.ico-l-collapse { background:url(images/sprite.png) no-repeat 0 -48px; padding-left:16px; cursor:pointer; }
.ico-l-expand { background:url(images/sprite.png) no-repeat 0 -64px; padding-left:16px; cursor:pointer; }
.ico-l-loading { background:url(images/loading_16.gif) no-repeat; padding-left:25px; line-height:20px; }
.ico-l-up { background:url(images/bg_icon.png) no-repeat -6px -242px; padding-left:12px; }
.ico-l-down { background:url(images/bg_icon.png) no-repeat -6px -222px; padding-left:12px; }
.ico-l-top { background:url(images/bg_icon.png) no-repeat -6px -342px; padding-left:12px; }
/* ico-r-**** */

/* message */
.msg-success { background:url(images/ico_success_32.png) no-repeat 30px 20px; padding:20px 20px 20px 70px; line-height:20px; text-align:left; color:#000; }
.msg-error { background:url(images/ico_error_32.png) no-repeat 30px 20px; padding:25px 20px 20px 70px; line-height:20px; text-align:left; color:#f00; }
.msg-alert { background:url(images/ico_alert_32.png) no-repeat 30px 20px; padding:20px 20px 20px 70px; line-height:20px; text-align:left; }
.msg-confirm { background:url(images/ico_confirm_32.png) no-repeat 30px 20px; padding:20px 20px 20px 70px; line-height:20px; }
.msg-info { background-color:#ffc; color:#f00; border:solid 1px #f00; padding:8px 10px; line-height:16px; font-size:14px; }

.max-w100p
{
	max-width: 100%;
}