@using System.Data;
@using System.Collections.Generic;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;

@section ModuleButtons
{
    <div class="text-center clearfix mt5">
        @BootcssUtil.CreateDetailButtons(Model)
    </div>
}
@RenderSectionIfDefined("Main", "../DetailObject/main.cshtml", Model)