.dialog-fade-enter-active .el-dialog.way{
  animation: anim-open 1s;
}
.dialog-fade-leave-active .el-dialog.way{
  animation: anim-close 1s;
}
@keyframes anim-open {
  0% {
    transform: translateX(300%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes anim-close {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(300%);
    opacity: 1;
  }
}

.list-pagination {
  margin-top: 10px;
  text-align: right;
}
.filter-content .filter-item {
    display: inline-block;
    width: unset;
    margin: 0 5px 10px 0;
    vertical-align: top;
  }
  
.filter-content .other-operation {
    display: inline;
  }
.filter-content .el-form-item__label{
  float: none;
  display: inline-block;
}
.filter-content .el-form-item__content{
  display: inline-block;
  vertical-align: top;
}
  .icon-help{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0;
    margin: 0;
  }