@using System.Data
@using YJC.Toolkit.MetaData
@{
    DataSet ds = Model;
    INormalMetaData metaData = ViewBag.MetaData as INormalMetaData;
    INormalTableData table = metaData.TableData;
    IEnumerable<Tk5FieldInfoEx> normalFields = table.DataList;
    DataRow row = ds.Tables[table.TableName].Rows[0];
}

<!DOCTYPE html>
<html>
<head>
    <title>@(metaData.Title) - Test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
    @RenderSection("Hello", false)
    <div>
        @foreach (Tk5FieldInfoEx field in normalFields)
        {
            <div>
                <dl>
                    <dt>@field.DisplayName</dt>
                    <dd>@row[field.NickName].ToString()</dd>
                </dl>
            </div>
        }
    </div>
    @*@RenderPart("child")*@
</body>
</html>