@inherits YJC.Toolkit.Razor.ToolkitTemplatePage<TModel>
@using System.Data;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Html;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    INormalMetaData metaData = ViewBag.MetaData;
    INormalTableData table = metaData.TableData;
    IEnumerable<Tk5FieldInfoEx> normalFields = table.DataList;
    IEditModel model = CreateModel<IEditModel>(Model);

    PageInfo page = Model.Info;
    string key = string.Empty;
    string style = OperatorUtil.GetStyle(page.Style);
    //if (style == "update")
    //{
    //    key = "?" + OperatorUtil.AppendKey(metaData, '*');
    //}
    List<List<Tk5FieldInfoEx>> showFields = OperatorUtil.Arrange(table);
    int colBase = 24 / table.ColumnCount;
}
<template>
    <div ref="current"
         url="/c/xml/@(style)/@(page.Source)@key">
        <el-form v-if="loaded"
                 :model="@table.TableName"
                 label-width="80px">
            @foreach (var line in showFields)
            {
                <el-row>
                    @foreach (var field in line)
                    {
                        string nickName = field.NickName;
                        int span = field.Layout.Layout == FieldLayout.PerLine ? 24 : field.Layout.UnitNum * colBase;
                        if (span > 24)
                        {
                            span = 24;
                        }
                        <el-col :span="@span">
                            @Raw(field.VueControlHtml(page.Style, table.TableName, null, true))
                        </el-col>
                    }
                </el-row>
            }
        </el-form>
        @RenderSectionIfDefined("ModuleButtons")
    </div>
</template>
<script>
    import editMixin from 'common/mixins/edit'
    export default {
        mixins: [editMixin]
    }
</script>