<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="Tennis" connectionString="USER ID=sa;PASSWORD=windows95;INITIAL CATALOG=MituCXCS;DATA SOURCE=localhost;CONNECT TIMEOUT=30"
      providerName="System.Data.SqlClient" />
    <add name="Weixin" connectionString="USER ID=sa;PASSWORD=windows95;INITIAL CATALOG=MituCXCS;DATA SOURCE=localhost;CONNECT TIMEOUT=30"
      providerName="System.Data.SqlClient" />
    <add name="Tools" connectionString="USER ID=sa;PASSWORD=windows95;INITIAL CATALOG=Mitu.Tools;DATA SOURCE=localhost;CONNECT TIMEOUT=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <httpHandlers>
      <remove verb="GET,POST" path="*.tkx" />
      <add verb="GET,POST" path="*.tkx" type="YJC.Toolkit.Web.ToolkitHandlerFactory, YJC.Toolkit.WebApp, Version=5.5.0.0, Culture=neutral, PublicKeyToken=DCD89483EE33CB8F" />
      <remove verb="GET,POST" path="*.c" />
      <add verb="GET,POST" path="*.c" type="YJC.Toolkit.Web.CcToolkitHandlerFactory, YJC.Toolkit.WebApp, Version=5.5.0.0, Culture=neutral, PublicKeyToken=DCD89483EE33CB8F" />
      <!--<remove verb="GET,POST" path="*.h" />
      <add verb="GET,POST" path="*.h" type="YJC.Toolkit.HtmlExtension.HtmlToolkitHandlerFactory, YJC.Toolkit.HtmlExtension, Version=5.0.0.0, Culture=neutral, PublicKeyToken=DCD89483EE33CB8F" />-->
      <!--<remove verb="GET,POST" path="*.vp" />
      <add verb="GET,POST" path="*.vp" type="YJC.Toolkit.Web.ToolkitAbbreviateHandlerFactory, YJC.Toolkit.WebApp, Version=5.5.0.0, Culture=neutral, PublicKeyToken=DCD89483EE33CB8F" />-->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="html" />
        </hiddenSegments>
      </requestFiltering>
    </security>-->
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-font-woff" />
    </staticContent>
    <handlers>
      <remove name="ToolkitTkxFactory" />
      <add name="ToolkitTkxFactory" verb="GET,POST" path="*.tkx" type="YJC.Toolkit.Web.ToolkitHandlerFactory, YJC.Toolkit.WebApp, Version=5.5.0.0, Culture=neutral, PublicKeyToken=DCD89483EE33CB8F" />
      <remove name="ToolkitCcFactory" />
      <add name="ToolkitCcFactory" verb="GET,POST" path="*.c" type="YJC.Toolkit.Web.CcToolkitHandlerFactory, YJC.Toolkit.WebApp, Version=5.5.0.0, Culture=neutral, PublicKeyToken=DCD89483EE33CB8F" />
      <remove name="ToolkitAbbrFactory" />
      <add name="ToolkitAbbrFactory" verb="GET,POST" path="*.vp" type="YJC.Toolkit.Web.ToolkitAbbreviateHandlerFactory, YJC.Toolkit.WebApp, Version=5.5.0.0, Culture=neutral, PublicKeyToken=DCD89483EE33CB8F" />
      <!--<remove name="ToolkitHtmlFactory" />
      <add name="ToolkitHtmlFactory" verb="GET" path="*.h" type="YJC.Toolkit.HtmlExtension.HtmlToolkitHandlerFactory, YJC.Toolkit.HtmlExtension, Version=5.0.0.0, Culture=neutral, PublicKeyToken=dcd89483ee33cb8f" />-->
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="mapKey" value="6ef304642b7f5c5d8882376596eeb82a" />
    <add key="mainStyle" value="AdminLTE" />
    <add key="aliyun" value="true" />
    <!--<add key="applicationXml" value="..\Xml\Application.xml" />-->
  </appSettings>
</configuration>